*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 700vh;
    /* width: 100%;
    height: 100%; */
    background-color: rgb(24, 10, 100);
    /* background-image: url('./img/virtual_reality.jpg');
    background-size: 100%; */
    display: flex;
}
/* -------------NAVE bar--------- */
.nav_img{
    margin-left: 10%;
}
.nav_img img{
    height:60px; 
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    /* font-size: 15px; */
    color: whitesmoke;
}
.navebar{
    /* background-color: tomato; */
    position: absolute;
    display: flex;
    width: 100%;
    /* top: 0; */
    /* margin-left: 30%; */
    justify-content: space-between;
    padding: 20px;
    background-size: cover;
    color: whitesmoke;
}
.nav_link{
    /* background-color: darkblue; */
    width: 100%;
    /* padding-left:45%;
    padding-right: 20%; */
    /* padding-left: 100px; */
    margin-left: 45%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    text-align: right;
}
.nav_link li{
    /* margin: 0 30px; */
    padding-left:5%;
}
.li_bystoken{
    background-color:none;
    width: 100px;
    height: 30px;
    border:20px;
    border-radius:5px;
   border-color: whitesmoke;
}
.mid_contant{
    /* background-color: brown; */
    margin-top: 400px;
    color: whitesmoke;
    /* text-align: center; */
    font-size: 100%;
}


.img_div1_conatner{
    position:relative;
    animation-name: pawan2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
   
}
@keyframes pawan2{
    form{
        margin-top:1%;
    }
    to{
        margin-top:15%;
    }
}

.img_div1_conatner{
    margin-top: 10%;
    margin-right: 15%;
    /* background-color: chartreuse; */
    float: right;
    width: 300px;
}
.img_div1_conatner img{
    height: 100%;
}

.mid_contant h2{
    color: rgb(247, 203, 248);
    font-size: 4vmin;
}
.mid_contant_hed{
 font-style:normal;
 /* font-family: cursive; */
  font-size: 80px;
}
.mid_contant_hed b{
    
    color: rgba(132, 233, 219, 0.856);
    text-align: center;

}
/* ------------------timer-------------------- */
.timer_div{
    position: absolute;
    display: flex;
    align-items: center;
    /* padding-left: 10%; */
    /* margin-right: 40%; */
    font-weight: bolder;
    font-synthesis: weight; 
}
.days{
    margin-left: 80px;
    font-size: 80px;
    font-family:monospace;
    font-style: unset;
    /* background-color: lightpink; */
    /* margin-left: 20px; */
}
.hrs{
    /* margin-left: 10%; */
    /* position: absolute; */
    margin-left: 80px;
    font-size: 80px;
    font-family:monospace;
    font-style: unset;
    /* background-color: lightpink;    */
}
.min{
    margin-left: 80px;
    font-size: 80px;
    font-family:monospace;
    font-style: unset;
    /* background-color: lightpink;    */
}
.sec{
    margin-left: 80px;
    /* position: absolute; */
    font-size: 80px;
    font-family:monospace;
    font-style: unset;
    /* background-color: lightpink;    */
}
.smalltext{
    margin-left: 80px; 
    font-style: unset; 
    font-size: 30px;
    color: rgb(112, 71, 64);
    border-radius: 20px;
    border-width: 20px;
    border-color: tomato;
}


.container-3{
    margin-top: 150px;
    /* padding: 10%; */
}
.table_btn{
    font-weight: bolder;
    background-color:none;
    width: 100px;
    height: 30px;
    border:20px;
    border-radius:5px;
    border-color: rgb(143, 46, 143);
    margin: 10%;
   border-color: whitesmoke; 
}
.btn1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.btn1 .btn2{
    font-style: unset;
    font-family: monospace;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 35px;
    position: relative;
    width: 25vmin;
    height: 50px;
    border-radius: 5px;
    border:4px solid #fff; 
}
.btn2 a{
    text-decoration: none;
}
/* ========================= image============================== */
.cont_img{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_img img{
    /* background-color: violet; */
    margin-left: 5px;
    align-items: center;
    margin-top: 10px;
    height:30px;
}
.cont_img .cont_img1{
    margin-top: 10px;
    margin-left: 35px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;

}
/* ================below start game========== */
.contant-4{
    margin-top: 150px;
    font-size: 30px;
    font-style: unset;
    font-family: monospace;
    margin-left: 30%;
    font-weight: bolder;
}
.contant-4 b{
    color: rgba(105, 112, 35, 0.856);
    text-align: center; 
}
/* =============================contant-5============================ */
.contant-5{
    height: 300px; ;
    margin-top: 150px;
    text-align: center;
    font-style: inline;
    font-size: 2vmin;
    margin-right: 2%;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40vmin 40vmin 40vmin;
    grid-column-gap:40px;
}
.item1{
    border:4px solid #fff ;
    border-radius: 5px;
    background-color:rgb(108, 108, 139);    
}
.item1 p{
    /* font-size: 20px; */
    padding: 10px;
    padding-top: 5vmin;
}
.item2{
    border:4px solid #fff ;
    border-radius: 5px;
    background-color:rgb(108, 108, 139);   
}
.item2 p{
    padding: 10px;
    padding-top: 5vmin;
}
.item3{
    border:4px solid #fff ;
    border-radius: 5px;
    background-color:rgb(108, 108, 139);
}
.item3 p{
    padding: 10px;
    padding-top: 5vmin;
}
/* =============================MetaSpace Tokenomics====================================================== */

.container-6{
    text-align: center;
    margin: 10%;
    /* background-color: blue; */
    font-size: 5vmin;
}
.container-6 b{
    color: rgb(241, 185, 111);
}
.container-7{
    margin-left: -90px;
    margin-right: 10%;
    font-size: 3vmin;
    /* background-color: darkgoldenrod; */
    display: grid;
    grid-template-columns: 10% 10% 10% 15% 15% 15%;
    /* grid-template-rows: 40vmin 40vmin 40vmin; */
    grid-column-gap:40px;
}

.table_2{
    /* background-color: #ff1e00; */
    margin-top: 100px;
    font-size: 2.5vmin;
    margin-right: 3%;
}
.table_2 td{
    /* background-color: burlywood; */
    width: 50vmin;
    padding-right: 2%;
    padding-left: 3%;
}
.table_2 th{
    text-align: center;
    color: rgb(65, 119, 12);
}
.table_2 p{
    text-align: center;
    padding-top: 10px;
}
/* ============================Growth Tactics======================================== */
.Growth_Tactics{
    /* font-weight: bolder; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 5vh;
}
.Growth_Tactics strong{
    color: rgb(246, 84, 26);
}
.container-8{
    /* background-color: rgb(184, 11, 11); */
    height: 700px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-style: inline;
    font-size: 2vmin;
    margin-right: 2%;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows:200px 200px 200px;
    /* grid-template-rows: 30vmin 30vmin 30vmin ; */
    grid-gap:40px;
}
.Item1{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
    /* background-color: darkgray; */
}
.Item2{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
    /* background-color: darkgreen; */
}
.Item3{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
    /* background-color: darkmagenta; */
}
.Item4{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
   /* background-color: aquamarine;  */
}
.Item5{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
    /* background-color: blueviolet; */
}
.Item6{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
   /* background-color: blueviolet;  */
}
.Item7{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
   /* background-color: aqua;  */
}
.Item8{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
  /* background-color: firebrick;   */
}
.Item9{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
}
.Item10{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
}
.Item11{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
}
.Item12{
    border:4px solid #fff ;
    border-radius: 5px;
    padding-top: 10%;
    padding: 10%;
}

/* ================Project Roadmap==================================================== */
.Project_Roadmap{
    text-align: center;
    margin: 10%;
    /* background-color: blue; */
    font-size: 5vmin;
}
.Project_Roadmap b{
   color: rgb(175, 142, 10);
}


.big_contaner{ 
    /* width: 1000px; */
    height: 180vmin;
    margin-right: 20%;
    /* background-color: rgb(23, 241, 15); */
     align-items: center;
 }

.line{
    float: left;
    border:4px solid #fff ;
    height: 167vmin;
    margin-left: 5%;
}

.container_8{
    float: left;
    /* background-color: crimson; */
    width: 40%;
    text-align: center;
    font-style: inline;
    font-size: 2vmin;
    margin-right: 2%;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 80%;
    /* grid-template-rows:200px 200px 200px 200px 200px; */
    grid-template-rows: 30vmin 30vmin 30vmin 30vmin 20vmin ;
    /* grid-column-gap:1%; */
    grid-row-gap:60px;
}

.it1 p {
    /* background-color: darkgoldenrod; */
    font-size: 5vmin;
    text-align: center;
    margin-top: 20%;
}
.it1 h5 {
    align-items: center;
    text-align: center;
    border:4px solid #fff ;
    width: 140px;
    border-radius: 10px;
    margin: 10%;
    margin-left: 40%;
    /* padding-top: 10%; */
    /* padding: 10%;  */
}
.it2 p{
    /* background-color: darkgoldenrod; */
    font-size: 5vmin;
    text-align: center;
    margin-top: 20%;
}
.it2 h5 {
    align-items: center;
    border:4px solid #fff ;
    width: 140px;
    border-radius: 10px;
    margin: 10%;
    margin-left: 40%;
    /* padding-top: 10%; */
    /* padding: 10%;  */
}
.it3 p{
    /* background-color: darkgoldenrod; */
    font-size: 5vmin;
    text-align: center;
    margin-top: 20%;
}
.it3 h5 {
    align-items: center;
    border:4px solid #fff ;
    width: 140px;
    border-radius: 10px;
    margin: 10%;
    margin-left: 40%;
    /* padding-top: 10%; */
    /* padding: 10%;  */
}
.it4 p{
    /* background-color: darkgoldenrod; */
    font-size: 5vmin;
    text-align: center;
    margin-top: 20%;
}
.it4 h5 {
    align-items: center;
    border:4px solid #fff ;
    width: 140px;
    border-radius: 10px;
    margin: 10%;
    margin-left: 40%;
    /* padding-top: 10%; */
    /* padding: 10%;  */
}
.it5 p{
    /* background-color: darkgoldenrod; */
    font-size: 5vmin;
    text-align: center;
    margin-top: 20%;
}
.it5 h5 {
    align-items: center;
    border:4px solid #fff ;
    width: 140px;
    border-radius: 10px;
    margin: 10%;
    margin-left: 40%;
    /* padding-top: 10%; */
    /* padding: 10%;  */
}


.container_9{
    float: left;
    /* background-color: rgb(104, 106, 119); */
    /* width: 40vmin; */
    margin-left: 6%;
    width: 40%;
    /* text-align: center; */
    padding-left: 3%;
    font-style: inline;
    font-size: 2vmin;
    margin-right: 2%;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 80%;
    /* grid-template-rows:200px 200px 200px 200px 200px; */
    grid-template-rows: 30vmin 30vmin 30vmin 30vmin 30vmin ;
    /* grid-column-gap:15%; */
    grid-row-gap:60px;
}
.question{
    /* background-color: brown; */
    text-align: center;
    font-size: 5vmax;
    margin-top: 70px;
}

/* ======================button==================================== */
.large_btn{
    /* background-color: brown; */
    margin-right: 5%;
    /* padding-left: 10%; */
}
.s1{
    border:4px solid #fff ;
    /* width: 140px; */
    border-radius: 10px;
    background-color: rgb(24, 66, 66);
    font-size: 2vmax;
    height: 7vmin;
    width: 100%;
    margin-top: 3%;
    text-align: left;
    padding-left:2%; 
}
.s2{
    border:4px solid #fff ;
    /* width: 140px; */
    border-radius: 10px;
    background-color: rgb(24, 66, 66);
    font-size: 2vmax;
    height: 7vmin;
    width: 100%;
    margin-top: 3%;
    text-align: left;
    padding-left:2%; 
}
.s3{
    border:4px solid #fff ;
    /* width: 140px; */
    border-radius: 10px;
    background-color: rgb(24, 66, 66);
    font-size: 2vmax;
    height: 7vmin;
    width: 100%;
    margin-top: 3%;
    text-align: left;
    padding-left:2%; 
}
.s4{
    border:4px solid #fff ;
    /* width: 140px; */
    border-radius: 10px;
    background-color: rgb(24, 66, 66);
    font-size: 2vmax;
    height: 7vmin;
    width: 100%;
    margin-top: 3%;
    text-align: left;
    padding-left:2%;  
}
.footer_div{
    margin-right: 10%;
 background-color:rgb(14, 14, 119);
}
.footer_tab{
    width: 100%;
    /* align-items: center; */
    margin-top: 100px;
    /* background-color: fuchsia; */
    /* padding-left: 20%; */
    margin-right:20%;
}
.footer_tab th{
    /* background-color: gold; */
    font-size: 5vmax;
}
.footer_tab td{
    text-align: center;
    font-size: 2vmax;
}
.footer{
    text-align: center;
   margin-top: 50px;
   font-size: 3vmax;
}
